body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}

header span {
    color: #f71212;
    font-size: 1.6rem;
    font-weight: 700;
}


/* navigation stuff here */
nav {
    background-color: #000000;
}

nav ul {
    margin: 0;
    padding: 0 5px;
    list-style-type: none;
    display: flex;

}

nav a {
    display: block;
    padding: .20rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: 700;
}

nav li a:hover {
    color: rgb(70, 130, 199);
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #f71212;
}

main h2 {
    color: #f71212;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #000000;
}

main strong {
    font-weight: 900;
    color: rgb(0, 0, 0);
}


main address {
    font-style: normal;
    color: rgb(0, 0, 0);
    background-color: #4c69d1;
    padding: .5rem;
    width: 200px;
    border:solid 2px #000000;
    border-radius: 2rem;
    

}

main a {
    color: #024873;
}

/*main image stuff here*/
figure.wrapped {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

/* Gallery Stuff */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery.figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #376259;
}

/* footer stuff here */
footer {
    background-color: #4c69d1;
    text-align: center;
    padding: 1rem 0;

}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #333;
    letter-spacing: 3px;
}